.bar.background-image-fixed-2 {
	  background: url('../img/fixed-background.jpg') center top no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	  }

.box-image-text .image {
	min-height: 200px;
	max-height: 200px;
}

.box-simple {
min-height: 230px;
}

.home-carousel a {
	color: #fff;
	text-decoration: underline;
}

.activities .item {
	text-align: left;
}

.activities .item p {
	/* font-size: 120%; */
	font-size: 17px;
	font-weight: 300;
	padding-right: 20px;
	padding-bottom: 20px;
}

.activities {
  margin-bottom: 10px;
}

.activities .item img {
	float: left;
	max-width: 150px;
	margin-right: 10px;

}
