.bar.background-image-fixed-2 {
	  background: url('../img/fixed-background.jpg') center top no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	  }

.box-image-text .image {
	min-height: 200px;
	max-height: 200px;
}

.box-simple {
min-height: 230px;
}

.home-carousel a {
	color: #fff;
	text-decoration: underline;
}

.activities .item {
	text-align: left;
}

#content .activities .item .testimonial p {
	/* font-size: 120%; */
	font-size: 17px;
	font-weight: 300;
	padding-right: 20px;
	padding-bottom: 5px;
}

.activities {
  margin-bottom: 10px;
}

.activities .item .img-thumbnail {
	float: left;
	max-width: 160px;
	margin-right: 10px;

}

.activities .item img {
		height: 95%;
		width: 95%;
		object-fit: contain;
}

.img-thumbnail {
	border-color: #38a7bb;
}

#urgent {
	background-color: gold;
	color:  #555555 !important;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
}

#urgent a {
	color:  #555555 !important;
}

#content .container .col-md-12 p {
	font-size: 21px;
	font-weight: 300;
	line-height: 1.4;
	padding-bottom: 40px;
}