<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  {{ partial "urgent.html" . }}

  <body>

    <div id="all">

      <header>

	{{ partial "nav.html" . }}

      </header>

      {{ partial "breadcrumbs.html" . }}

      <div id="content">
	<div class="container">
	  <div class="row">
	    <!-- *** LEFT COLUMN *** -->
	    <div class="col-md-12">

		    <p class="lead">Here's a brief introduction to the various regular activities that go on at or around Longmeadow. 
			If you'd like to know about any of these please <a href="../contact/">get in touch</a>.</p>
			
			{{ $youth_posts := (where .Site.Pages "Type" "youth") }}
			{{ if gt (len $youth_posts) 0}}
	        	<div class="heading">
		      		<h2>Youth</h2>
	      		</div>
		      	<div class="activities owl-carousel">
					{{ .Content }}
					{{ range $youth_posts }}
						{{ partial "activity.html" . }}
					{{ end }}
			  	</div>
			{{ end }}

			{{ $weekly_posts := (where .Site.Pages "Type" "weekly") }}
			{{ if gt (len $weekly_posts) 0}}
	        	<div class="heading">
		      		<h2>Weekly</h2>
	      		</div>
		      	<div class="activities owl-carousel">
					{{ .Content }}
					{{ range $weekly_posts }}
						{{ partial "activity.html" . }}
					{{ end }}
			  	</div>
			{{ end }}

			{{ $monthly_posts := (where .Site.Pages "Type" "monthly") }}
			{{ if gt (len $monthly_posts) 0}}
	        	<div class="heading">
		      		<h2>Fortnightly / Monthly</h2>
	      		</div>
		      	<div class="activities owl-carousel">
					{{ .Content }}
					{{ range $monthly_posts }}
						{{ partial "activity.html" . }}
					{{ end }}
			  	</div>
			{{ end }}

			{{ $other_posts := (where .Site.Pages "Type" "other") }}
			{{ if gt (len $other_posts) 0}}
	        	<div class="heading">
		      		<h2>Other</h2>
	      		</div>
		      	<div class="activities owl-carousel">
					{{ .Content }}
					{{ range $other_posts }}
						{{ partial "activity.html" . }}
					{{ end }}
			  	</div>
			{{ end }}

			{{ $online_posts := (where .Site.Pages "Type" "online") }}
			{{ if gt (len $online_posts) 0}}
	        	<div class="heading">
		      		<h2>Online</h2>
	      		</div>
		      	<div class="activities owl-carousel">
					{{ .Content }}
					<p>{{ len $online_posts }} posts here</p>
					{{ range $online_posts }}
						{{ partial "online_activity.html" . }}
					{{ end }}
			  	</div>
			{{ end }}

	    <!-- /.col-md-9 -->

	    <!-- *** LEFT COLUMN END *** -->

	  </div>
	  <!-- /.row -->
	</div>
	<!-- /.container -->
      </div>
      <!-- /#content -->

      {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
