<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

      <header>

	{{ partial "nav.html" . }}

      </header>

      {{ partial "breadcrumbs.html" . }}

      <div id="content">
	<div class="container">
	  <div class="row">
	    <!-- *** LEFT COLUMN *** -->
	    <div class="col-md-12">

		    <p class="lead">Here's a brief introduction to the various regular activities that go on at or around Longmeadow. 
		    If you'd like to know about any of these please <a href="../contact/">get in touch</a>.</p>
        <div class="heading">
	      <h2>Youth</h2>
      </div>
	      <div class="activities owl-carousel">
		{{ .Content }}
		{{ range where .Site.Pages "Type" "youth" }}

		{{ partial "activity.html" . }}

		{{ end }}
	      </div>
        <div class="heading">
	         <h2>Weekly</h2>
         </div>
	      <div class="activities owl-carousel">
		{{ .Content }}
		{{ range where .Site.Pages "Type" "weekly" }}

		{{ partial "activity.html" . }}

		{{ end }}
	      </div>

        <div class="heading">
		        <h2>Bi-Monthly / Monthly</h2>
		      </div>
	      <div class="activities owl-carousel">
		{{ .Content }}
		{{ range where .Site.Pages "Type" "monthly" }}

		{{ partial "activity.html" . }}

		{{ end }}
	      </div>

        <div class="heading">
	         <h2>Other</h2>
         </div>
	      <div class="activities owl-carousel">
		{{ .Content }}
		{{ range where .Site.Pages "Type" "other" }}

		{{ partial "activity.html" . }}

		{{ end }}
	      </div>
	    </div>
	    <!-- /.col-md-9 -->

	    <!-- *** LEFT COLUMN END *** -->

	  </div>
	  <!-- /.row -->
	</div>
	<!-- /.container -->
      </div>
      <!-- /#content -->

      {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
