		<div class="item">
		  <div class="testimonial same-height-always">
		      <h2>{{ .Title }}</h2>
			   			 
			  {{ if .Params.Time }}
			  <h5> Time : <i>{{.Params.Time}}</i></h5>
 			 {{ end }}
 			  
 			 {{ if .Params.Location }}
			  <h5> Location : <i>{{.Params.Location}}</i></h5>
 			 {{ end }}
					<p class="intro">
					{{ if .Params.thumbnail }}
					<img src="{{ .Site.BaseURL}}{{ .Params.thumbnail }}" class="img-thumbnail" alt="">
					{{ end }}
		      {{ .Summary }}</p>
		  </div>
		</div>
